body {
    font-family: 'Open Sans', sans-serif;
}

#signUpForm {
    max-width: 500px;
}
#signINForm {
    max-width: 500px;
}

#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
}

#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #8c71a4;
}

#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #8c71a4;
    border-radius: 50%;
    border: 3px solid #e1aded;
}


#signUpForm input.invalid {
    border: 2px solid #ffaba5;
}

#signUpForm .step {
    display: none;
}


